body {
    background-color: sienna;
}

#centerdiv {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main_menu_title, button {
    font-family: 'Roboto Thin', serif;
}

#main_menu_title {
    color: sandybrown;
    font-size: 6vw;
}

button {
    width: 50%;
    height: 15%;
    margin-bottom: 2%;
    font-size: 3vw;
    background-color: sandybrown;
    color: white;
    border-width: 0.5vw;
    border-radius: 1vw;
    border-color: saddlebrown;
}

button:hover {
    background-color: #77390F
}

form {
    margin: 0;
    padding: 0;
}