.hero_info_single > img {
    width: 3vw;
    height: 3vw;
}

.hero_info_stats > text {
    color: wheat;
    font-size: 1.5vw;
    font-family: 'Roboto Light', fantasy;
}

.hero_info_stats {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.6vw;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.hero_info_single {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: fit-content;
    gap: 0.2vw;
}

.stat_text {
    font-size: 2vw;
    color: wheat;
}
